$border-color: #ddd;
$input-border: #ccc;
$primary-color: #007bff;
$hover-color: #0056b3;
// $base-spacing: 20px;

.news-container {
  //position: absolute;
  //margin-top: -480px;
  //margin-left: 42%;
  min-width: 300px;
  // margin: $base-spacing auto;
  padding: 10px;
  border: 2px solid $border-color;
  border-radius: 4px;
  font-size: small;
}

.news-form__upload {
  display: flex;
  flex-direction: column;

  .news-form-group {
    margin-bottom: 20px - 5px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    & input[type='file'],
    & input[type='text'] {
      width: 100%;
      padding: 8px 10px;
      border: 1px solid $input-border;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .news-btn__upload {
    background-color: $primary-color;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }

    &:disabled {
      background-color: #c3c3c3;
      color: #ffffff;
      cursor: not-allowed;
    }
  }
.new-form_field {
    height:100px
    }

  .news-form_control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #007ffe;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  }
}

.news-img_upload {
  width: 300px;
}

@media (max-width: 720px) {
  .form-container {
    position: relative;
    margin: 0 20px 20px;
  }
}
